html {
  font-family: "Cabin";
}
p {
  margin: 0;
}
.page-header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.buy-container {
  background-color: #10bbd5;
}
.nav-buy-list {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}
.nav-buy-item {
  margin-top: 16px;
  margin-bottom: 16px;
}
.header-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: #f8fdfe;
}
.header-logo {
  position: relative;
  top: 5px;
}
.sum {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
}
.buy-icon {
  background-color: #10bbd5;
  background-image: url(../img/cart_icon.png);
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 10px;
  padding-bottom: 5px;
}

.status {
  background-color: #fff;
}
.status-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.status-list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.status-link {
  text-decoration: none;
  color: #000;
}
/* ================================================================== */
.page-main {
  background-color: #eeeeef;
  padding-bottom: 120px;
}
.cotainer {
  width: 1280px;
  margin: 0 auto;
}
.main-title {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #1f1f1f;
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 23px;
  width: 100%;
}
.goods-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.cart-content {
  padding: 32px;
  border: solid 1px #a8a8a8;
  background-color: #fff;
}
.cart-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
}
.icon-card {
  margin-bottom: 16px;
  text-align: center;
}
.card-title {
  border-bottom: 1px solid #a8a8a8;
}
.author {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8e8e8e;
}
.price {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: #e90000;
  display: inline;
  margin-right: 10px;
}
.fix-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  text-decoration: line-through;
  color: #8e8e8e;
}
.add-btn {
  padding: 8px;
  width: 100%;
  background-color: #4c394e;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #f8fdfe;
  border: none;
  border-radius: 5px;
  margin-top: 16px;
}
.add-btn:hover {
  background-color: #744978;
}
.and-up {
  background-color: #4d762d;
}
.and-up:hover {
  background-color: #6db236;
}

.chat {
  background-image: url("../img/chat.png");
  width: 75px;
  height: 75px;
  border: none;
  background-size: cover;
  position: fixed;
  right: 100px;
  bottom: 150px;
  border-radius: 50px;
}
.chat:hover {
  background-image: url(../img/chat_hover.png);
}

/* ============================================= */
.page-footer {
  background-color: #4c394e;
}
.footer-list {
  margin: 0;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
  margin-top: 32px;
  margin-bottom: 23px;
}
.sell-list {
  list-style: none;
  display: flex;
  gap: 5px;
  color: white;
  position: absolute;
  margin-top: 30px;
}
.sell-item {
}
.hit {
  background-color: #4200ff;
  padding: 4px;
  border-radius: 5px;
}
.new {
  background-color: #af39e7;
  padding: 4px;
  border-radius: 5px;
}
.sell {
  background-color: #ea33c0;
  padding: 4px;
  border-radius: 5px;
}
